body{
    margin: 0;
    padding-top: 500px;
}
.profile{
    width: 200px;
    margin-bottom:50px  ;
    border-radius: 50%;
}
#No{
    position :absolute;
    overflow: hidden;
    height:800px;
    color: aquamarine;
    top: 0;
    right: 0;
    left:0;
    bottom:0;
    opacity: 0.8;
    background-color: rgb(0, 111, 139);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.menu{
    list-style: none;
    font-family: serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
.links{
    color: yellow  ;
    font-size: large;
}
.links:hover {
background-color: teal;
}